{% extends 'core/base.html' %}
{% block content %}

    <!-- description with image-->
    <div class="flex">
        <div class="flex">
            <img src="headshot.jpg" class="h-36 w-36 ml-60 mt-8 rounded-full">
            
            <div class="ml-32 mt-8">
                <div>
                    <span class="font-semibold text-2xl">gaurav</span>
                    <a href="#" class="ml-4 border border-gray-600 p-2 rounded-lg hover:border-gray-900">Edit Profile</a>
                    <a href="#"><span class="material-icons ml-4">settings</span></a>
                </div>
                <div class="mt-8">
                    <span><strong>166</strong> posts</span>
                    <span class="ml-8"><strong>257</strong> followers</span>
                    <span class="ml-8"><strong>252</strong> following</span>
                </div>
                <p class="text-lg font-bold mt-6">Gaurav</p>
                <p>learner developer</p>
                <p class="mt-2 text-indigo-900 font-semibold"><a href="#">paudelgaurav.com.np</a></p>
            </div>
        </div>
    </div>

{% endblock %}